<div class="jumbotron center">
	<h1>Benvenuti nella nostra Osteria</h1>
	<h2>Qui si magna tutti tipi di cibi, e non solo...</h2>
	<p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg" %></p>
	
</div>