@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #1E914B;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: ghostwhite;
	text-decoration: none;
}


/* jumbotron  */

.jumbotron {
	background-image: asset-url('cover_bg.png');
	backgound-size: cover;
	height: 600px;
	background-repeat: no-repeat;

}

.center {
	text-align: center;
}

.jumbotron h1  {
	color: ghostwhite !important;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 90px;
	letter-spacing: -1px;
	font-weight: bold;
}

.jumbotron h2 {
	color: #ffffff;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 90px;
	letter-spacing: -1px;

}

.btn-xlarge {
	background-color: #1E914B;
}

.btn-xlarge:hover {
	color: #ffffff;
	text-decoration: none;
}

/* Marketing */

.space {
  margin-top: 65px;
}



.sembo {
  margin-top: 10px;
}


/* navbar */


/* Links */
.well a {
  color: #C82F42;

}

.rangi-kijani a {
  color: #1E914B;

}

.rangi-kijani a:hover {
  color: #C82F42;

}

.well a:hover {
  color: #1E914B;
  
}


