@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

#logo {
	float: left;
	font-size: 1.7em;
	color: #1E914B;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: ghostwhite;
	text-decoration: none;
}


/* jumbotron  */

.jumbotron {
	background-image: asset-url('cover_bg.png');
	backgound-size: cover;
	height: 600px;
	background-repeat: no-repeat;

}

.center {
	text-align: center;
}

.jumbotron h1  {
	color: ghostwhite !important;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 90px;
	letter-spacing: -1px;
	font-weight: bold;
}

.jumbotron h2 {
	color: #ffffff;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 90px;
	letter-spacing: -1px;

}

.btn-xlarge {
	background-color: #1E914B;
}

.btn-xlarge:hover {
	color: #ffffff;
	text-decoration: none;
}

/* Marketing */

.space {
  margin-top: 65px;
}



.sembo {
  margin-top: 10px;
}


/* navbar */


/* Links */
.well a {
  color: #C82F42;

}

.rangi-kijani a {
  color: #1E914B;

}

.rangi-kijani a:hover {
  color: #C82F42;

}

.well a:hover {
  color: #1E914B;
  
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #ffffff;
  }

}

.listing {
	list-style: none;
	padding-left: none;
}

.chef-title {
  color: #1E914B;
	font-weight: bold;
	font-size: 1.25em;
}

// Styling Ingredients checkboxes 

.input_checkbox input {
	width: auto !important;
}

// Styling Chatroom

.center-block {
  float: none !important;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 100 !important;
}


.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 1px solid #eaeaea;
  height: 25em;
  position: relative;
  overflow: auto;
}

// Styling Glyphicons

.liking {
  padding-right: 10px;
}



